<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.darkmodz.gastroappv2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_gastroapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_gastroapp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GastroAPPAfterCrash">
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Abrechnung"
            android:exported="false" />
        <activity
            android:name=".Bestellen"
            android:exported="false" />
        <activity
            android:name=".Menues"
            android:exported="false" />
        <activity
            android:name=".Getraenke"
            android:exported="false" />
        <activity
            android:name=".Nachspeise"
            android:exported="false" />
        <activity
            android:name=".Hauptspeise"
            android:exported="false" />
        <activity
            android:name=".Vorspeise"
            android:exported="false" />
        <activity
            android:name=".Bestellmenue"
            android:exported="false" />
        <activity
            android:name=".Tableselect"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>